absl-py
astunparse
cachetools
certifi==2023.7.22
charset-normalizer
click
docopt
Flask
flatbuffers
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
gunicorn
idna
importlib-metadata
itsdangerous
Jinja2
joblib
keras
libclang
Markdown
MarkupSafe
numpy
oauthlib
opt-einsum
packaging
pandas
Pillow
pipreqs
protobuf
pyasn1
pyasn1-modules
python-dateutil
pytz
requests
requests-oauthlib
rsa
scikit-learn
scipy
six
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
typing-extensions
tzdata
urllib3
Werkzeug
wrapt
yarg
zipp
